<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='with=device-width, initial-scale=1, shrink-to-fit=no'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
    <title>お金管理App</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- css -->
    <style type="text/css">
      body {padding-top: 80px;}
      .tr-color {background-color: #ff9999;}
    </style>
  </head>
  <body>
    <nav class='navbar navbar-expand-md navbar-dark bg-danger fixed-top'>
      <a class='navbar-brand ml-5' href='{% url "todo:index" %}'><i class="fas fa-piggy-bank mr-2"></i>お金管理App<i class="fas fa-piggy-bank ml-2"></i></a>
    </nav>
    <div class='container mt-5'>
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
